<app-button [customClass]="['primary']" (click)="_stopDrawing()">Stop</app-button>

<h2>Your combinations</h2>

<ng-container *ngIf="!_ballsService.arePlayerCombinationsEmpty(); else combinationsEmpty">
	<div class="balls-container"
		*ngFor="let combinations of _ballsService.playerCombinations; trackBy: _trackByCombinationFn">
		<app-ball class="ball" *ngFor="let ball of combinations; trackBy: _trackByBallFn">{{ball}}</app-ball>
	</div>
</ng-container>


<h2>Winning combination</h2>
<div class="balls-container" *ngIf="(_ballsService.winCombination$ | async)?.length; else notAnnounced">
	<ng-container
		*ngFor="let ball of _ballsService.winCombination$ | async; let isLast = last; trackBy: _trackByBallFn">
		<app-ball class="ball" [type]="isLast ? 'bonus' : 'normal'">
			{{ball}}
		</app-ball>
	</ng-container>
</div>

<h2>Your prize:</h2>
<ng-container *ngIf="(_prizeService.prizes$ | async) !== null as prize; else wait">
	<p>{{(_prizeService.prizes$ | async) | currency}}</p>
</ng-container>

<ng-template #notAnnounced>
	<p>The winning combination is not announced yet!</p>
</ng-template>

<ng-template #wait>
	<p>Wait until the winning combination is announced!</p>
</ng-template>

<ng-template #combinationsEmpty>
	<p>Choose your combinations to join the game!</p>
</ng-template>