<div class="game" #modal>
  <app-card elemClasses="card-game">
    <p class="instruction">
      To add combinations, use "+" buttons or "Autoselect".
      <br />
      Choose 5 numbers for each combination.
    </p>
    <div class="container">
      <div
        class="row"
        *ngFor="
          let combination of _ballsService.playerCombinations;
          let i = index
        ">
        <div
          class="balls-row"
          (click)="openModal(i)"
          (keydown.enter)="openModal(i)"
          role="button"
          tabindex="0"
          [@combinationSpin]>
          <ng-container *ngIf="combination.length; else fallbackBalls">
            <app-ball *ngFor="let ball of combination">{{ ball }}</app-ball>
          </ng-container>

          <ng-template #fallbackBalls>
            <app-ball *ngFor="let _ of [].constructor(5)">+</app-ball>
          </ng-template>
        </div>
        <app-button
          *ngIf="!combination.length; else removeButton"
          (clickEvent)="_autoselect(i)"
          customClass="primary"
          [@buttonChange]>
          Autoselect
        </app-button>

        <ng-template #removeButton>
          <app-button
            (clickEvent)="_remove(i)"
            customClass="danger"
            [@buttonChange]>
            Remove
          </app-button>
        </ng-template>
      </div>
    </div>
  </app-card>

  <app-card elemClasses="checkout">
    <app-checkout></app-checkout>
  </app-card>
</div>

<ng-template #modalContent>
  <div class="container-modal">
    <div class="balls-grid">
      <app-ball
        [type]="_chooseBallType(ball).type"
        [isDisabled]="_chooseBallType(ball).disabled"
        *ngFor="let ball of _ballsService.availableNumbers"
        (ballClick)="_onBallClick(ball)">
        {{ ball }}
      </app-ball>
    </div>

    <div class="buttons-modal">
      <app-button
        *ngIf="_ballsService.bufferCombination.length"
        (clickEvent)="_onClear()">
        Clear all
      </app-button>
      <app-button
        [isDisabled]="_ballsService.bufferCombination.length !== 5"
        (clickEvent)="_onPlay()">
        Play
      </app-button>
    </div>
  </div>
</ng-template>
