button {
  display: inline-block;
  min-width: 178px;
  padding: 14px 10px;
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  box-shadow: 0 1px 8px 0 #ccc;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.16px;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #173a71;
  color: #fffffe;
}

button:disabled:hover {
  cursor: not-allowed;
  background-color: #ccc;
}

.secondary {
  background-color: #e46b2a;
  color: #fff;
}

.secondary:hover {
  background-color: #173a71;
}

.primary {
  border-color: #ac8f60;
  background-color: #fffffe;
  color: #ac8f60;
}

.primary:hover {
  background: #ac8f60;
  color: #fffffe;
}

.danger {
  border-color: #e74c3c;
  background-color: #fff;
  color: #e74c3c;
}

.danger:hover {
  background-color: #e74c3c;
  color: #fff;
}

.link-active {
  background-color: #173a71;
  color: #fff;
}
